.st-emotion-cache-1erivf3 * {
  box-sizing: border-box;
}
.st-emotion-cache-1erivf3 {
  background: #f29d38;
  width: 520px;
  height: 260px;
  position: center;
}

/* .st-key-input-form-kid-name {
  background: #f29d38;
  position: center;
*/

/* .st-key-input-form-kid-age {
  background: #f29d38;
  position: center;
} */

/* General button styling */
/* .st-key-input-form-kid-name {
  margin: 20px; 
  background-color: white;
  color: black;  
  padding: 10px 20px;
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
} */

/* Hover effect */
/* .st-key-input-form-kid-name:hover {
  background-color: #f29d38;
}  */

/* .st-emotion-cache-bm2z3a {
  background: #7ac21d;
} */
